__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

venv/
.venv/
env/

.env

db.sqlite3
*.sqlite3
staticfiles/
mediafiles/

.coverage
coverage.xml
htmlcov/
.pytest_cache/

.vscode/
.idea/
*.swp
*.swo

.git/
.gitignore

Dockerfile
.dockerignore

*.log
*.pot
README.md
